#cart{
    padding: var(--spacing-68) 0;
    display: flex;
    flex-direction: column;
}

.cart__title{
    font-size: var(--font-jumbo);
    border-bottom: 5px solid var(--primary-solid);
    padding-bottom: var(--spacing-8);
    display: inline-block;
    align-self: flex-start;
}

.cart__details{
    margin: var(--spacing-24) 0;
    padding: var(--spacing-12) 0;
    background-color: var(--light-bg-solid);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.cart__details-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: var(--font-small);
    font-weight: 700;
}

.cart__items{
    display: flex;
    flex-direction: column;
}

h3{
    font-size: var(--font-medium);
}

.cart__items p, .cart__items span{
    font-size: var(--font-small);
}

.cart__item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: var(--spacing-28);
    margin: var(--spacing-24) 0;
    padding: var(--spacing-12) 0;
    background-color: var(--light-bg-solid);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.cart__item__info{
    display: flex;
    align-items: center;
    gap: var(--spacing-16);
}
.cart__item-img{
    width: 118.762px;
    height: 118px;
}

.cart__item-delete{
    width: 20px;
    height: 20px;
}

/*SECCION RESUMEN */

.cart__title-overview{
    align-self: flex-end;
    margin-top: var(--spacing-36);
}

.cart__overview{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

.cart__details{
    padding: var(--spacing-16) var(--spacing-28);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8) 0;
}

.cart__details p:nth-child(3){
    border-bottom: 2px solid var(--primary-solid);;
}

.cart__checkout{
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
    font-weight: 700;
    text-align: center;
    padding: var(--spacing-12) 0;
}

