/* INICIO MAIN DEL SHOP */
#shop{
    display: flex;
    padding: var(--spacing-68) 0;
    font-family: var(--base-font);
}

/* INICIO DEL ASIDE */
.shop__filters{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8) 0;
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.shop__filters input, .shop__filters select {
    padding: var(--spacing-2);
    border: 1.5px solid var(--dark-solid);
    border-radius: 3px;
}


#min, #max{
    width: 4rem;
    text-align: center;
}


.shop__filters_title{
    /*revisar tamaño fuente, no me toma bien con la variable*/
    font-size: var(--font-small);
    display: block;
    padding: var(--spacing-8) 0;
}

.filter label{
    /*revisar tamaño fuente, no me toma bien con la variable*/
    font-size: var(--font-xsmall);
    display: block;
    padding: var(--spacing-2) 0;
}

/* FIN DEL ASIDE */

/* CONTENIDO */
.shop__items{
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-28);
}

.shop__item{
    flex: 1 1 clamp(200px, 30%, 30%);
}
/* FIN DE CONTENIDO */

/* FIN MAIN */


@media (max-width:478px) {
    #shop{
        flex-direction: column;
    }
}